<h2><a href="/" style="color: black">{{title}}</a></h2>
<a href="/edit/{{this.id}}"> Edit </a>

<div><div>{{this.question}}</div></div>


{{#each answers}}
<li class="allanswers">{{this}}</li>

{{/each}}









<form action="/{{id}}?_method=delete" method="post" style="margin-top: 30px">
    <input class="delete" type="submit" value="Delete">
</form>
